* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: white;
}
li {
    margin-top: 5px;
}
button {
    margin-left: 2%;
}
.nav{
    list-style: none;
}

.contenedorCamioneta{
    display: inline-block;
}


.precioCamioneta{
    margin-top: -25px;
}

.imgCamioneta{
    width: 400px;
    aspect-ratio: 1/1;
}
